body {
    text-align: center;
}
.box {
     display: inline-block;
     width: 24%;
     height: 100px;
}
.red {
     background-color: red;
}
.orange {
     background-color: orange;
}
.blue {
     background-color: blue;
}
.green {
     background-color: green;
}
.container {
    width: 200px;
    height: 200px;
    background-color: purple;
}

@media(min-width: 1000px) {
    .box {
        width: 100%;
    }
}
@media(max-width: 600px) {
    .red {
        display: none;
    }
    .orange {
        display: none;
    }
}